a{
    text-decoration: none;
}
#box1_detail h2 {
    color: #1aa471;
    font-size: 20px;
}
.new-value2 {
    color: #3c6d86;
    display: block;
    font-family: "Open Sans",arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 0;
    padding: 5px;
    text-align: right;
}
.google_offer .erp_offer .new-value2 span {
    clear: both;
    font-family: "Open Sans",arial,sans-serif;
    line-height: 1.2em;
}
.google_offer .erp_offer .new-value2 {
    background-color: #d2e6ef;
    clear: both;
    float: left;
    font-family: "proxima_nova_semibold",Arial,sans-serif;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 10px;
    text-align: right;
    width: 100%;
}
.go-360price {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    color: #2e7497;
    float: left;
    font-family: "proxima_nova_semibold",Arial,sans-serif;
    font-size: 34px;
    text-align: center;
    width: 59%;
}
.offer_buynow {
    background: none repeat scroll 0 0 #68c72d;
    border-radius: 4px;
    color: #fff !important;
    float: right;
    font-size: 25px !important;
    margin-top: 0;
    padding: 6px 56px;
    text-align: center;
}
.google_offer .erp_offer .new-value2 .tax {
    color: #67a7c7;
    font-family: "proxima_nova_semibold",Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
.mee-wrapper {
    background: none repeat scroll 0 0 #cee3ef;
    margin: 0;
    padding: 60px 0;
}
.mee-left-wrap {
    float: left;
    width: 30%;
}
.mee-left-wrap > h1 {
    color: #04547d;
    font-size: 30px;
    line-height: 0.9em;
    margin: 0 0 5px;
}
.mee-left-wrap > h3 {
    color: #04547d;
    font-family: proxima_nova_regular;
    font-size: 14px;
    margin: 0 0 30px;
    padding: 0;
}
.mee-left-wrap > h3 span {
    font-size: 23px;
    left: -2px;
    position: relative;
    top: 4px;
}
.mee-right-wrap {
    float: right;
    width: 65%;
}
.mee-left-wrap > h2 {
    color: #04547d;
    font-size: 18px;
    line-height: 1em;
    margin: 0 0 30px;
    padding: 0;
    text-align: left;
}
.mee-gif-wrap {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 2px 2px #a9c2d5;
    float: right;
    padding: 5px;
}
.mee-gif-wrap > img {
    width: 645px;
}
section.mee-section {
    margin-bottom: 40px;
}
.mee-cotentblock-wrapper {
}
.mee-cotentblock-wrapper div.content-left > h1 {
    color: #2581b0;
    font-size: 35px;
    line-height: 0.9em;
    margin: 159px 0 5px;
}
.mee-cotentblock-wrapper div.content-left > h2 {
    color: #2581b0;
    font-family: proxima_nova_regular;
    font-size: 16px;
    line-height: 1em;
    margin: 0 0 30px;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.content-left {
    width: 37%;
}
.content-right {
    width: 60%;
}
.content-right > .mee-gif-wrap > img {
    width: 575px;
}
.mee-feature-wrap {
    border: 2px solid #a9c2d5;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #cee3ef;
}
.mee-single-feature {
    border-bottom: 2px solid #cee3ef;
    overflow: hidden;
    padding-bottom: 52px;
    padding-top: 52px;
}
.mee-freedom-wrap {
    background: none repeat scroll 0 0 #3c6d86;
    height: 126px;
    text-align: center;
}
.mee-freedom-wrap > h1 {
    color: #fff;
    display: inline;
    font-size: 35px;
    line-height: 3.8em;
}
.mee-freedom-wrap > h3 {
    color: #fff;
    display: inline;
}
.mee-section h1, .mee-section p, .mee-section a, .mee-section h4, .mee-section h2 {
    font-family: proxima_nova_regular;
}
.sf5-banner h1 {
    color: #fff;
    font-size: 28px;
    width: 480px;
}
.sf5-banner h2 {
    color: #fff;
    font-size: 18px;
}
.sf-qoute-wrap {
    background: none repeat scroll 0 0 #fffcf5;
    margin: 0;
    padding: 0;
}
blockquote {
    border-left: 0 none;
}
.bq3 {
    background: url("http://www.makesbridge.com/wp-content/uploads/2014/10/qoute.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #575757;
    line-height: 18px;
    margin: 50px auto 10px;
    padding-left: 55px;
    width: 860px;
}
.bq3 p {
    background: url("http://www.makesbridge.com/wp-content/uploads/2014/10/qoute2.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    color: #2e7497;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 15px;
    padding-right: 35px;
    text-align: center;
}
.container {
    width: 1000px;
}
.rayan-portfolio div:first-child {
    margin-right: 10px;
}
.rayan-portfolio h4 {
    color: #2e7497;
    margin: 0;
    text-align: right;
}
.rayan-portfolio p {
    color: #2e7497;
    font-family: proxima_nova_regular;
    margin: 0;
    text-align: right;
}
.rayan-portfolio p a {
    color: #00aaff;
    font-family: proxima_nova_regular;
}
a:hover{
    text-decoration: none;
}
.sf-tabs div {
    background: none repeat scroll 0 0 #eaf7fc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 30px;
}
.sf-tabs img {
    float: left;
    margin-right: 24px;
    margin-top: 10px;
}
.sf-tabs h2 {
    color: #42738b;
    font-family: proxima_nova_regular;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}
.sf-tabs p {
    color: #42738b;
    font-family: proxima_nova_regular;
    font-size: 15px;
    padding-bottom: 10px;
}
.sf5-trialform .forminputbg {
    height: 35px;
}
.sf5-trialform #offerform {
    background-color: #fff;
    border: 1px solid #75c8f6;
    margin-top: 6px;
    padding: 23px 20px 23px 45px;
}
.sf5-trialform #offerform .getstarted {
    background: none repeat scroll 0 0 #68c72d;
    width: 150px;
}
.sf5-trialform #offerform h2 {
    color: #ff9722;
    font-weight: bold;
}
.sf5-trialform {
    width: auto;
}
.sf5-features {
    border-bottom: 1px solid #c3d2da;
    padding: 40px 32px;
}
.sf5-features p {
    color: #3c6d86;
    font-size: 14px;
}
.sf5-features h2 {
    color: #3c6d86;
    font-size: 20px;
}
.sf-partner-wrap {
    background: none repeat scroll 0 0 #e7edf0;
}
.sf-partner-wrap h2 {
    color: #19617f;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
}
.rayan-portfolio {
    margin-bottom: 25px;
}
.container-fluid.sf-partner-wrap .container {
    padding: 35px 0;
}
.row.sf5-features:last-child {
    border-bottom: medium none;
}
#accForm .forminputbg {
    width: 320px;
}
.forminputbg {
    height: 36px;
}
#accForm .forminputbg input[type="text"], #accForm .forminputbg input[type="password"], #accForm .forminputbg select, #accForm2 .forminputbg {
    padding: 3px 0 3px 7px;
    width: 180px;
}
#accForm table tr:nth-child(4) {
    display: none;
}
#accForm #salesrep{
    width: 115px !important;
}
#accForm #interest{
    width: 114px !important;
}
#accForm #pwd2{
    width: 135px !important;
}
#accForm #email_volume{
    width: 113px !important;
}

/*======================================
    MKS BLOG 
=====================================*/
/*Universal*/
.mainfull{width: 100%;}
.main_wrap{width: 1000px; margin: auto;}


.header{}
.header_wrap{padding: 35px 0;}
.logo{width: 199px; height: 44px; margin: auto auto; display: block;border: none;}
.logo_a{
    display: block;
    width: 202px;
    margin: auto auto;
    border: none;
}

.menu{padding: 0 0 22px;margin: 0px 0 16px;}
.menu_wrap{}

.banner{
/*    background-image: url(../images/main-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;*/
    

    background: #43b9ea url(../images/full_img.jpg) repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 3px solid #ffffff;
}
.banner_wrap{}
.headline_blog{
}

.headline_blog h2{
    font-size: 40px;
    line-height: 100%;
    font-family: 'proxima_nova_semibold', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}


.topic_text{
    color: #ffffff;
    font-size: 26px;
    float: left;
    line-height: 26px;
}
.topicicon{
    color: #ffffff;
    font-size: 26px;
    float: right;
}

.topic_wrap{
    width: 130px;
    margin: 5px auto 2px;
    cursor: pointer;
    height: 25px;
}

.topic_item{
    text-align: center;
}
.topic_item a{
    color: #ffffff; 
    font-size: 18px;  
    line-height: 54px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 12px;
    margin: 7px;
    white-space: nowrap;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.topic_item a:hover{
    color: #2581b0;
    border: 1px solid #fff;
    background: #fff;
}


.topic_content{display: none;margin: 40px 0 0;}
.topic_padding{
    height: 50px;
}



/*Blog Content*/

.blogcontent{
    background: #e4eef3;
}
.blogcontent_wrap{}
.blog_tline{
    background: url("../images/tline.jpg") center center repeat-y;
}

.post_hidden_wrap {
    padding: 20px 0 0;
}
.pdate{
    width: 70px;
    background: #ffffff;
    text-align: center;
    height: 70px;
    -webkit-border-radius: 100%; 
    -moz-border-radius: 100%; 
    border-radius: 100%;
    border: 3px solid #e4eef3;
    margin: 0px auto 0;
    position: relative;
    top: 35px;
}

.pdate_in{
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    width: 70px;
}

.date_num{
    font-size: 24px;
    font-family: 'proxima_nova_semibold', Arial, sans-serif;
    line-height: 24px;
    text-align: center;
    margin: 0; color: #2581b0;
}
.date_month{
    font-size: 16px; 
    font-family: 'proxima_nova_regular', Arial, sans-serif; 
    line-height: 17px;
    text-align: center;
    margin: 0;
    color: #2581b0;
}

.post_wrap{
    background: #ffffff;
    box-shadow: 0 3px 3px #cfe2ec; -moz-box-shadow: 0 3px 3px #cfe2ec; -webkit-box-shadow: 0 3px 3px #cfe2ec; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;
    padding: 25px 25px 22px;
    width: 79%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}
.postl{
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    height: auto;
}

.post_thumb_img{ 
    width: 370px; height: 240px;
}

.postr{
    float: right; width: 50%;
    padding: 12px 0 0 25px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.postr h2, .postr_single h2{
    font-family: 'proxima_nova_semibold', Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 10px;
    color: #2581b0;
}

.postr_single h2 {
    line-height: 25px ! important;
    margin: 24px 0 10px ! important;
}
.postr p, .postr_single p{
    font-family: 'proxima_nova_regular', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 20px; margin: 0 0 10px;
    color: #5c6c8d;
}
.postr a{
    text-decoration: underline;
    /* font-style: italic; */
    color: #2581b0;
    font-family: 'proxima_nova_regular', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}


.loadmore{
    text-align: center;
    margin: 0;
    position: relative;
    padding: 20px 0;
}
.loadmore a{
    color: #57c184;
    font-size: 20px;
    line-height: 54px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 11px 34px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
    font-family: 'proxima_nova_semibold', Arial, sans-serif;
    box-shadow: 0 3px 3px #cfe2ec; -moz-box-shadow: 0 3px 3px #cfe2ec; -webkit-box-shadow: 0 3px 3px #cfe2ec;
    text-align: center;
    margin: auto auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.loadmore a:hover{
    background: #57c184;
    color: #ffffff;

}


.next_prev{
    text-align: center;
    position: relative;
    background: #fff;
    /* -webkit-border-radius: 50px; */ 
    -moz-border-radius: 50px; 
    border-radius: 50px;
    width: 120px;
    margin: auto auto;
    padding: 8px 10px;
    height: 56px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    box-shadow: 0 3px 3px #cfe2ec; -moz-box-shadow: 0 3px 3px #cfe2ec; -webkit-box-shadow: 0 3px 3px #cfe2ec;
}

.prev{float: left; width: 40px;}
.next{float: right; width: 40px;}

.prev, .next, .prev a, .next a{text-decoration: none;}


.next_prev a:hover{
    background: #57c184;
    color: #ffffff;

}

.next_prev_icon {
    color: #57c184;
    font-size: 28px;
    width: 40px;
    background: #e4eef3;
    height: 40px;
    -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;
    display: table-cell; vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.next_prev_icon:hover{
    background: #57c184;
    color: #ffffff;
}


.load_padding{height: 65px;}


/*Post Single*/

.postl_single{
    width: 100%;
    margin: 0 0 25px;
}
.postr_single{}
.post_img{width: 100%; height: auto; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}

.btn_action{
    margin: 55px 0 40px;
}
.btn_action_wrap{
    width: 600px;
    margin: auto;
}
.btn_action_l{
    width: 277px; float: left;
}

.btn_action_l a, .btn_action_r a{text-decoration: none;}
.btn_action_r{
    width: 277px; 
    float: right;
}

.prdemo{
    background: #1d77ef; /* Old browsers */
    background: -moz-linear-gradient(left,  #1d77ef 0%, #81f3fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d77ef), color-stop(100%,#81f3fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1d77ef 0%,#81f3fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1d77ef 0%,#81f3fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1d77ef 0%,#81f3fd 100%); /* IE10+ */
    background: linear-gradient(to right,  #1d77ef 0%,#81f3fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d77ef', endColorstr='#81f3fd',GradientType=1 ); /* IE6-9 */

    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width: 277px;
    padding: 18px 23px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    overflow: hidden;
}



.chat_sr{
    overflow: hidden;
    background: #0387af; /* Old browsers */
    background: -moz-linear-gradient(left,  #0387af 0%, #1b7c9e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0387af), color-stop(100%,#1b7c9e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #0387af 0%,#1b7c9e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #0387af 0%,#1b7c9e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #0387af 0%,#1b7c9e 100%); /* IE10+ */
    background: linear-gradient(to right,  #0387af 0%,#1b7c9e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0387af', endColorstr='#1b7c9e',GradientType=1 ); /* IE6-9 */

    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width: 277px;
    padding: 18px 23px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.chat_sr_text{
        color: #ffffff;
    float: left;
    width: 167px;
    font-size: 18px;
    line-height: 20px;
    top: 6px;
    position: relative;
}
.prdemo_text{
    color: #ffffff;
    float: left;
    width: 167px;
    font-size: 18px;
    line-height: 20px;
    top: 6px;
    position: relative;
}
.chat_sr_icon{
        color: #ffffff;
    font-size: 50px;
    width: 62px;
    float: right;
}
.prdemo_icon{
    color: #ffffff;
    font-size: 50px;
    width: 62px;
    float: right;
}


/*menu*/

.m_icon{font-size: 28px;width: 34px;display: none;}
.menu_icon{}
.menus{}
.menus_content{display:inline;}
ul.menus{}
ul.menus li{}
ul.menus li a{
    float: left;
    padding: 0px 30px 0px 0px;
    color: #4799c3;
    text-decoration: none;
    text-transform: capitalize;
    transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    font-size: 13px;
    font-family: 'proxima_nova_regular', Arial, sans-serif;
}


/*new menu*/


.nav-collapse a {
color: #4799c3;
text-decoration: none;
margin: 0 30px 0 0;
font-size: 13px;
font-family: 'proxima_nova_regular', Arial, sans-serif;
}


.nav-collapse li {
color: #4799c3;
font-weight: 200;
text-decoration: none;
text-transform: capitalize;
transition: color .4s ease-in-out;
-moz-transition: color .4s ease-in-out;
-webkit-transition: color .4s ease-in-out;
-o-transition: color .4s ease-in-out;
font-size: 14px;
}


.menu_fl_r{
    float: right;
}
.menu_fl_r a{
    margin: 0 0px 0 30px;
}


.mksblog-request-demo {
    background: url('http://www.makesbridge.com/wp-content/uploads/2014/10/1.jpg');
    width: 290px;
    height: 89px;
}.mksblog-chat {
    background: url('http://www.makesbridge.com/wp-content/uploads/2014/10/2.jpg');
    width: 290px;
    height: 89px;
     margin: 20px 0;
}

.textwidget > h2 {
    color: #fff;
    font-family: proxima_nova_light !important;
    font-size: 18px;
    padding: 25px;
    text-transform: uppercase;
    width: 205px;
}
.textwidget strong {
    font-family: proxima_nova_semibold;
    font-weight: normal;
    text-transform: uppercase;
}
.mksblog-chat .textwidget h2{
    font-family: proxima_nova_semibold !important;
    font-size: 24px;

}
.mksblog-chat .textwidget span{
    text-transform: none;
}
.category a:hover{
    text-decoration: none;
}

.related_post_wrap {
    float: left;
    margin-right: 10px;
    padding: 10px !important;
    width: 32.45% !important;
}
.related_post_wrap:last-child{
     margin-right: 0px;

}
.related-post-container{
    margin: 0 auto;
    width: 79%;
}
.related_post_wrap h4{
   font-family: proxima_nova_semibold;
    font-size: 16px;
    height: 38px;
    overflow: hidden;
    text-align: center;
}
.post_img{
    min-height: 152px;
}
.relate_img{
    max-height: 152px
}